body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}
h1, h2 {
  font-family: Oswald, sans-serif;
}
img {
  float: left;
  margin-right: 10px;
}
#multipleColumn {
  column-count: 3;
  column-gap: 40px;
  column-width:300px;
}
.navbar li {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
}