body {
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}
h1, h2 {
  font-family: Oswald, sans-serif;
}
img {
  float: left;
  margin-right: 10px;
}
#left {
  float:left;
  width:33%;
  padding:1mm;
}
#right {
  float:right;
  width:33%;
  padding:1mm;
}
#center {
  margin-right:33%;
  margin-left:33%;
  padding:1mm;
}

.navbar li {
  display:inline;
  padding-left:5%;
  padding-right:5%;
}
